.eventBlock *:not(input[type="checkbox"],label){
    margin-bottom:1em;
    box-sizing: border-box;
}

.eventBlock{
    background-color:white; 
    width:387px;
    height:323px;
    border-radius:6px;
    box-shadow: 0px 2px 23px #EDEDED;
    box-sizing: border-box;
    padding: 1.5em 2em;
    overflow-x: scroll;
    justify-self: left;
    /* margin-right:auto; */
}
.events {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


.eventsTitle{
    text-align: start;
    font-size:15px;
    color:#8C96AB;
    font-weight: 500;
    margin-left: 0;
    margin-top: 0;
}

.eventsNewEvent{
    grid-column:2;
    width:175px;
    border-radius: 4px;
    border: 1px solid #D8DCE6;
    color:grey;
    line-height: 2em;
    padding-left: .9em;
    margin-left: 2.75em;
}
