.eventTile *:not(input[type="checkbox"],div){
    margin-bottom:1em;
    box-sizing: border-box;
}

.eventTile{
    background-color:white; 
    width:387px;
    height:323px;
    border-radius:6px;
    box-shadow: 0px 2px 23px #EDEDED;
    box-sizing: border-box;
    padding: 1.5em 2em;
    overflow-x: scroll;
}
section{
    display: grid;
    grid-template-columns: 9% 60%;
}

h5{
    text-align: start;
    font-size:15px;
    color:#8C96AB;
    font-weight: 500;
    /* text-align: start; */
    margin-left: 0;
    margin-top: 0;
}

label{
    color:#A2ABBF;
    font-weight: 500;
    text-align:start;
}
.pseudoCheckbox{
    position: relative;
    margin:0;
    width:16px;
    height:16px;
}
.pseudoCheckbox_style{
    z-index:-1;
    margin:0;
    position: absolute;
    top:0;
    width:16px;
    height:16px;
    background-color:#F2F3F3;

}
input[type="text"]{
    grid-column:2;
    width:175px;
    border-radius: 4px;
    border: 1px solid #D8DCE6;
    color:grey;
    line-height: 2em;
    padding-left: .9em;
    /* box-sizing: border-box; */
}
input[type="checkbox"]{
    appearance: none;
    /* opacity: 0; */
    width:16px;
    height:16px;
}
input[type="checkbox"]::before{
    content:'';
    display:block;
    width:16px;
    height:16px;
    background-color:#F2F3F3;
}
input[type="checkbox"]:checked::before{
    background-image: url('../../assets/checkbox_cheked.svg');
}   
input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color:#d8dfee;
    transition: .5s;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
input::-webkit-input-placeholder {
    color:#BFC4CC; 
    }
input::-moz-placeholder {
    color:#BFC4CC;
}